<div id='signup'>
  <h1>signup</h1>
  <form name="signupForm" ng-submit='submitForm(signupForm.$valid); signup();' novalidate>
    <input type='text' name='username' ng-model='user.username' required>
    <input type="password" name='password' ng-model='user.password' ng-minlength="8" required>
    <button ng-disabled="signupForm.$invalid">signup</button>
  </form>
  <a href="./#/signin">Already have an account? <strong>Signin</strong> ...</a>
  <p ng-show="signupForm.username.$error.required && !signupForm.username.$pristine">Username required.</p>
  <p ng-show="signupForm.password.$error.required && !signupForm.password.$pristine">Password required.</p>
  <p ng-show="signupForm.password.$error.minlength"> Password is too short. 8 character minimum. </p>
</div>
