<div id='signin'>
  <h1>signin</h1>
  <form name="signinForm" ng-submit='submitForm(signinForm.$valid); signin();' novalidate>
    <input type='text' name="username" ng-model='user.username' required>
    <input type="password" name="password" ng-model='user.password' required>
    <button ng-disabled="signinForm.$invalid">signin</button>
  </form>
  <a href="./#/signup">Don't have an account? <strong>Signup</strong> ...</a>
    <p ng-show="signinForm.username.$error.required && !signinForm.username.$pristine">Username required.</p>
  <p ng-show="signinForm.password.$error.required && !signinForm.password.$pristine">Password required.</p>
  <p ng-show="signinForm.password.$error.minlength"> Password is too short. 8 character minimum. </p>
</div>
